$height: 60px;

.EditroInstruments {
  height: 60px;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(238,238,234,1) 0%,rgba(209,208,207,1) 94%,rgba(193,193,191,1) 100%);
  border-bottom: 1px solid #b5b5b5;

  text-align: center;

  &-item {
    margin-right: $height * 0.2;
    margin-left: $height * 0.2;
    display: inline-block;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  &-icon {
    max-height: $height * 0.4;
  }

  &-title {
    font-size: $height * 0.2;
  }
}
