$height: 40px;

.EditroInstruments {
  height: $height;
  padding: $height * 0.2;
  background: linear-gradient(to bottom, rgba(238,238,234,1) 0%,rgba(209,208,207,1) 94%,rgba(193,193,191,1) 100%);
  border-bottom: 1px solid #b5b5b5;

  text-align: center;

  &-group {
    display: inline;
    margin: 0 10px;
  }

  &-item {
    margin-right: $height * 0.2;
    margin-left: $height * 0.2;
    display: inline;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  &-icon {
    display: inline;
    max-height: $height * 0.4;
    vertical-align: middle;
    margin-right: 2px;
  }

  &-title {
    display: inline;
    font-size: $height * 0.3;
  }
}
