$primary-color: #23272D;
$secondary-color: #2A2E36;
$accent-color: #1d89cf;

$text-color: #fff;

$toolbar-height: 48px;
$panel-width: 440px;
$transparent: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==';
$control-background: linear-gradient(to bottom, #f8f8f8 0%, #f0f0f0 100%);
$control-border: 1px solid #ccc;
$control-border-radius: 2px;

@mixin depth($level) {
  @if $level == 1 {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

@mixin toolbar($d) {
  @include depth($d);
  min-height: 50px;
  background: $primary-color;
  color: $text-color;
}

@mixin toolbar-item() {
}

@mixin tabs() {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	height: $toolbar-height;
	background-color: $primary-color;
	margin: 0 auto;
  padding: 0;
	width: 100%;
	white-space: nowrap;
}

@mixin tab() {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
  box-sizing: border-box;
	display: block;
	float: left;

	height: $toolbar-height;
	padding: 0 24px;
	margin: 0;
	width: 15%;
	min-width: 80px;

	text-align: center;
	line-height: $toolbar-height;
	text-transform: uppercase;
	text-overflow: ellipsis;
  font-size: 13px;
	overflow: hidden;
	letter-spacing: .8px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  color: rgba($text-color, 0.7);

  &:hover {
    color: $text-color;
  }
  &[data-active="yes"] {
    color: $text-color;
    border-bottom: 3px solid $accent-color;
  }
}


@mixin controller() {
  display: none;
  &[data-enabled="yes"] {
    display: block;
  }
}
