.EditroPane {
  padding: 10px;

  &-section {
    margin-bottom: 20px;
  }
}

.EditroPanes {
  flex: 1;
  overflow: scroll;

  &--tabbed {
    .EditroPane {
      display: none;
      &[data-active="yes"] {
        display: block;
      }
    }
  }
}

.EditroController {
  &[data-enabled="no"] {
    display: none;
  }
}
