<section class="EditroCode">
  <div class="EditroCode-codeMirror"></div>
  <div class="EditroCode-actions">
    <button class="EditroButton EditroCode-fullScreen">
      <span class="EditroButton-wrapper">
        <div class="EditroIcon EditroIcon--fullScreen"></div>
        <div class="EditroIcon EditroIcon--fullScreenOut"></div>
      </span>
    </button>
    <button class="EditroButton EditroCode-close">
      <span class="EditroButton-wrapper">
        <div class="EditroIcon EditroIcon--close"></div>
      </span>
    </button>
  </div>
</section>
