<section class="Editro">
  <section class="Editro-previewWrapper">
    <iframe class="Editro-preview" frameborder="0"></iframe>
  </section>

  <aside class="Editro-panel">
    <section class="EditroPanelPlaceholder">
      <div class="EditroPanelPlaceholder-text">
        Click on element to select
      </div>
    </section>

    <section class="EditroPanel">
      <div class="EditroPanel-section">
        <button class="EditroAction EditroAction-delete">Delete</button>
        <button class="EditroAction">Insert before&hellip;</button>
        <button class="EditroAction">Insert after&hellip;</button>
        <button class="EditroAction">Append before&hellip;</button>
        <button class="EditroAction">Append after&hellip;</button>
      </div>
      <div class="EditroPanel-section">
        <article class="EditroForm">
          <div class="EditroForm-title">Column size</div>
          <div class="EditroForm-controls">
            <input type="text" class="EditroInput EditroInput--small" value="60%" />
          </div>
        </article>
      </div>
      <div class="EditroPanel-section">
        <article class="EditroForm">
          <div class="EditroForm-title">Text</div>
          <div class="EditroForm-controls EditroForm-controls--inline">
            <div class="EditroColor EditroColor--separate">
              <div class="EditroColor-sample" style="background-color: rgba(255, 0, 0, 0.7);"></div>
            </div>
            <span class="EditroIcon EditroIcon--fz"></span>
            <input type="text" class="EditroInput EditroInput--small" value="14px" />
            <span class="EditroIcon EditroIcon--lh"></span>
            <input type="text" class="EditroInput EditroInput--small" value="1.4" />
            <div class="EditroBtnGroup">
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x" value="1" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--fwn"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x" value="2" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--fwb"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x" value="3" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--fsi"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x" value="4" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--fwbfsi"></span>
                </span>
              </label>
            </div>
            <div class="EditroBtnGroup">
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x1" value="1" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--tal"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x1" value="2" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--tac"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x1" value="3" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--tar"></span>
                </span>
              </label>
            </div>
            <div class="EditroBtnGroup">
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x2" value="1" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--vab"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x2" value="2" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--vasup"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x2" value="3" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--vasub"></span>
                </span>
              </label>
            </div>
          </div>
        </article>

        <article class="EditroForm">
          <div class="EditroForm-title">Background</div>
          <div class="EditroForm-controls EditroForm-controls--inline">
            <div class="EditroColor">
              <div class="EditroColor-sample" style="background-color: rgba(50, 200, 0, 0.7);"></div>
            </div>
            <div class="EditroColor">
              <div class="EditroColor-placeholder"></div>
            </div>
            <div class="EditroUploader">
              <div class="EditroUploader-input">
                <input type="text" class="EditroInput EditroInput--full" value="" />
              </div>
              <div class="EditroUploader-upload"></div>
            </div>
          </div>
        </article>

        <article class="EditroForm">
          <div class="EditroForm-title">Size</div>
          <div class="EditroForm-controls">
            <div class="EditroBtnGroup EditroBtnGroup--right">
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x8" value="1" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--fln"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x8" value="2" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--fll"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x8" value="3" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--flr"></span>
                </span>
              </label>
            </div>
            <div class="EditroSize">
              <div class="EditroSize-input">
                <input type="text" class="EditroInput" placeholder="auto" />
              </div>
              <div class="EditroSize-separator">&times;</div>
              <div class="EditroSize-input">
                <input type="text" class="EditroInput" placeholder="auto" />
              </div>
            </div>
          </div>
        </article>

        <article class="EditroForm EditroForm--half">
          <div class="EditroForm-title">Paddings</div>
          <div class="EditroForm-controls">
            <div class="EditroFourInputs" arrow-direction="in">
              <div class="EditroFourInputs-outer" shape="real"></div>
              <div class="EditroFourInputs-inner" shape="imag"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--top"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--bottom"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--right"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--left"></div>
              <input class="EditroFourInputs-input EditroFourInputs-input--top" type="text" placeholder="auto" />
              <input class="EditroFourInputs-input EditroFourInputs-input--bottom" type="text" placeholder="auto" />
              <input class="EditroFourInputs-input EditroFourInputs-input--right" type="text" placeholder="auto" />
              <input class="EditroFourInputs-input EditroFourInputs-input--left" type="text" placeholder="auto" />
            </div>
          </div>
        </article>

        <article class="EditroForm EditroForm--half">
          <div class="EditroForm-title">Margins</div>
          <div class="EditroForm-controls">
            <div class="EditroFourInputs" arrow-direction="out">
              <div class="EditroFourInputs-outer" shape="imag"></div>
              <div class="EditroFourInputs-inner" shape="real"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--top"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--bottom"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--right"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--left"></div>
              <input class="EditroFourInputs-input EditroFourInputs-input--top" type="text" placeholder="auto" />
              <input class="EditroFourInputs-input EditroFourInputs-input--bottom" type="text" placeholder="auto" />
              <input class="EditroFourInputs-input EditroFourInputs-input--right" type="text" placeholder="auto" />
              <input class="EditroFourInputs-input EditroFourInputs-input--left" type="text" placeholder="auto" />
            </div>
          </div>
        </article>

        <article class="EditroForm">
          <div class="EditroForm-title">Borders</div>
          <div class="EditroForm-controls EditroForm-controls--inline">
            <div class="EditroBtnGroup">
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x3" value="1" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--bdn"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x3" value="2" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--bd"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x3" value="3" checked />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--bdcustom"></span>
                </span>
              </label>
            </div>
          </div>
          <div class="EditroForm-controls EditroForm-controls--inline">
            <span class="EditroIcon EditroIcon--bdt"></span>
            <input type="text" class="EditroInput EditroInput--small" value="1px" />
            <div class="EditroBtnGroup">
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x4" value="1" checked />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--solid"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x4" value="2" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--dashed"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x4" value="3" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--dotted"></span>
                </span>
              </label>
            </div>
            <div class="EditroColor EditroColor--separate">
              <div class="EditroColor-sample" style="background-color: rgba(255, 0, 0, 0.7);"></div>
            </div>
          </div>
          <div class="EditroForm-controls EditroForm-controls--inline">
            <span class="EditroIcon EditroIcon--bdr"></span>
            <input type="text" class="EditroInput EditroInput--small" value="0px" />
            <div class="EditroBtnGroup">
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x5" value="1" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--solid"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x5" value="2" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--dashed"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x5" value="3" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--dotted"></span>
                </span>
              </label>
            </div>
            <div class="EditroColor EditroColor--separate">
              <div class="EditroColor-sample"></div>
            </div>
          </div>
          <div class="EditroForm-controls EditroForm-controls--inline">
            <span class="EditroIcon EditroIcon--bdb"></span>
            <input type="text" class="EditroInput EditroInput--small" value="0px" />
            <div class="EditroBtnGroup">
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x6" value="1" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--solid"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x6" value="2" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--dashed"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x6" value="3" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--dotted"></span>
                </span>
              </label>
            </div>
            <div class="EditroColor EditroColor--separate">
              <div class="EditroColor-sample"></div>
            </div>
          </div>
          <div class="EditroForm-controls EditroForm-controls--inline">
            <span class="EditroIcon EditroIcon--bdl"></span>
            <input type="text" class="EditroInput EditroInput--small" value="0px" />
            <div class="EditroBtnGroup">
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x7" value="1" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--solid"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x7" value="2" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--dashed"></span>
                </span>
              </label>
              <label class="EditroBtnGroup-item">
                <input class="EditroBtnGroup-input" type="radio" name="x7" value="3" />
                <span class="EditroBtnGroup-itemWrapper">
                  <span class="EditroIcon EditroIcon--dotted"></span>
                </span>
              </label>
            </div>
            <div class="EditroColor EditroColor--separate">
              <div class="EditroColor-sample"></div>
            </div>
          </div>
        </article>

        <article class="EditroForm">
          <div class="EditroForm-title">Position</div>
          <div class="EditroForm-controls">
            <div class="EditroSelect">
              <select class="EditroSelect-select" name="s">
                <option value="1">static</option>
                <option value="2">relative</option>
                <option value="3">absolute</option>
                <option value="4">fixed</option>
              </select>
            </div>
          </div>
          <div class="EditroForm-controls">
            <div class="EditroFourInputs" arrow-direction="in">
              <div class="EditroFourInputs-outer" shape="real"></div>
              <div class="EditroFourInputs-inner" shape="real"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--top"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--bottom"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--right"></div>
              <div class="EditroFourInputs-arrow EditroFourInputs-arrow--left"></div>
              <input class="EditroFourInputs-input EditroFourInputs-input--top" type="text" placeholder="auto" />
              <input class="EditroFourInputs-input EditroFourInputs-input--bottom" type="text" placeholder="auto" />
              <input class="EditroFourInputs-input EditroFourInputs-input--right" type="text" placeholder="auto" />
              <input class="EditroFourInputs-input EditroFourInputs-input--left" type="text" placeholder="auto" />
            </div>
          </div>
        </article>
      </div>
    </section>
  </aside>
</section>




