<section class="Editro">
  <div class="Editro-wrapper">
    <section class="Editro-previewWrapper">
      <iframe class="Editro-preview" frameborder="0"></iframe>
      <div class="Editro-nav">
      </div>
    </section>

    <aside class="Editro-panel">
      <section class="EditroPanelPlaceholder">
        <div class="EditroPanelPlaceholder-text">
          Click on element to select
        </div>
      </section>

      <div editro-toolbox class="Editro-toolbox"></div>
    </aside>
  </div>
</section>




